@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body {
  font-family: "Exo", sans-serif;
}

button {
  border: none;
  z-index: 10;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.context h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.buttons-container {
  margin-top: 15px;
  gap: 15px;
}

.buttons {
  border-radius: 15px;
  border: none;
  padding: 10px;
  font-size: 18px;
}
